.git
.gitmodules
.gitignore
build
bin
.cache
.qtcreator
.vscode
tmp
current_progress
compile_commands.json
definitions/cfml_definition.json.h
admin/node_modules
admin/dist
admin/.angular
*.sqlite
*.sqlite-shm
*.sqlite-wal
